# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Lab2.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Sergey\Desktop\crypto\CryptoAssignments\Lab2\Lab2\.idea\.idea.Lab2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
