# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lab4.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Sergey\Desktop\crypto\CryptoAssignments\Lab4\.idea\.idea.Lab4.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
