# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lab1.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Sergey\Desktop\crypto\CryptoAssignments\Lab1\.idea\.idea.Lab1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
